*{margin: 0;
 padding: 0;
 
}

body{
    font-family: sans-serif;
}

.PageHeading{
    display: flex;
    /* border :2px solid blueviolet; */
    height: 100px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(207, 11, 11);
    color:white;
}

.cards{
    /* border:2px solid red; */
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}

.card{
    /* border: 2px solid wheat; */
    border-radius:  20px;
    width: 250px;
    height: 400px;
    margin:20px 0px;
   
    

}
.card:hover {
    /* border: 2px solid black; */
    width: 290px;
    height: 450px;
    margin:20px 10px;
    box-shadow: -8px 15px 40px 5px whitesmoke;
    font-size: 2rem;
    

}
.card img{
    /* border: 2px solid yellowgreen; */
    /* height: inherit; */
    width: inherit; 
    /* //inheriting width of card */
    height: 300px;
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
    
}

.card__info{
    
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 12px;
    background-color: #ebbac2;
}
.card__category{
    margin: 3px 0px;
    
}
.card__title{
    margin: 5px 0px;
    color: rgba(0, 0, 0, 0.911);
}
.card__info a button{
    margin:5px 0px;
    padding:3px 3px;
    cursor: pointer;
    font-size: 0.8rem;
    background-color: rgb(179, 10, 10);
    color:white
}

.card__info > a button:hover{
    font-size: 1rem;
    
}







